
Book/.vs/BOOKcheck/config/applicationhost.config
Book/.vs/BOOKcheck/v16/.suo
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.deps.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.deps.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.deps.json
Book/BOOKcheck/obj/Debug/netcoreapp3.1/BOOKcheck.csproj.CoreCompileInputs.cache
Book/BOOKcheck/obj/Debug/netcoreapp3.1/BOOKcheck.assets.cache
Book/BOOKcheck/obj/BOOKcheck.csproj.nuget.g.props
Book/BOOKcheck/obj/BOOKcheck.csproj.nuget.dgspec.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.Views.pdb
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.Views.dll
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.runtimeconfig.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.runtimeconfig.dev.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.pdb
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.deps.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.dll
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.exe
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.pdb
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.runtimeconfig.dev.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.runtimeconfig.json
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.Views.dll
Book/BOOKcheck/bin/Debug/netcoreapp3.1/BOOKcheck.Views.pdb
